<div class="container">
    <div style="width: 500px; margin: auto; box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .5); border-radius: 3px;">
        <br>
        <h4 class="text-center">Thay đổi mật khẩu</h4>
        <div class="container">
            <form>
                <div class="form-group">
                    <label for="pass_new">Mật khẩu mới</label>
                    <div style="position: relative;">
                        <input #new_pass type="password" class="form-control" id="pass_new">
                        <div>
                            <i (click)="display_pass('pass_new','eye_new')" id="eye_new" style="position: absolute; top: 14px; right: 10px; cursor: pointer;" class="fa fa-eye-slash" aria-hidden="true"></i>
                        </div>
                    </div>
                    <small id="alter_new" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="pass_old">Mật khẩu cũ</label>
                    <div style="position: relative;">
                        <input #old_pass type="password" class="form-control" id="pass_old">
                        <div>
                            <i (click)="display_pass('pass_old','eye_old')" id="eye_old" style="position: absolute; top: 14px; right: 10px; cursor: pointer;" class="fa fa-eye-slash" aria-hidden="true"></i>
                        </div>
                    </div>
                    <small id="alter_old" class="form-text text-muted mb-2"></small>
                </div>
                <div style="text-align: center;">
                    <button class="btn btn-primary" (click)="change_pass(new_pass.value, old_pass.value)">Thay đổi mật khẩu</button>
                </div>
            </form>
        </div>
        <br>
    </div>
</div>
<br><br>