<div class="container">

    <div class="row">
        <div class="text-center mx-auto">
            <br>
            <h4>Trang website nhà hàng King's</h4>
            <p><img src="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/camera-photo-128.png" alt=""></p>

            <h2><i class="fa fa-exclamation-triangle" style="color:red"></i> Page not found <small>404 error</small></h2>
            <p>Trang website không tìm thấy nó có thể bị xoá hay đang nâng cấp
                <br>
            </p>
            <img src="../../../../assets/images/system/loading_foundpage.gif" style="width: 50px; height: 50px;"><br>
            <img src="../../../../assets/images/system/loading_font.gif" style="width: 70px; height: 50px;">
        </div>

    </div>

</div>